#page-title {
    text-transform: capitalize;
}

.profile-menu {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}

@font-face {
    font-family:summernote;font-style:normal;font-weight:400;src:url(../fonts/summernote.eot?ad8d7e2d177d2473aecd9b35d16211fb);src:url(../fonts/summernote.eot?#iefix) format("embedded-opentype"),url(../fonts/summernote.woff?ad8d7e2d177d2473aecd9b35d16211fb) format("woff"),url(../fonts/summernote.ttf?ad8d7e2d177d2473aecd9b35d16211fb) format("truetype");
}

table.dataTable {
    margin-top: 20px!important;
    margin-bottom: 20px!important;
    width: 100% !important;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #ddd;
}

.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover {
    background-color: #222D32;
    border-color: #eeeeee !important;
}

.chosen-container-single .chosen-single abbr {
    background: url('../img/chosen-sprite.png') -42px 1px no-repeat;
}

.chosen-container-single .chosen-single div b {
    background: url('../img/chosen-sprite.png') no-repeat 0px 7px;
}

.chosen-container-single .chosen-search input[type="text"] {
    background: white url('../img/chosen-sprite.png') no-repeat 100% -20px;
    background: url('../img/chosen-sprite.png') no-repeat 100% -20px;
}

chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    background: url('../img/chosen-sprite.png') -42px 1px no-repeat;
}

.chosen-rtl .chosen-search input[type="text"] {
    background: white url('../img/chosen-sprite.png') no-repeat -30px -20px;
    background: url('../img/chosen-sprite.png') no-repeat -30px -20px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    background: url('../img/chosen-sprite.png') -42px 1px no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
    .chosen-container .chosen-results-scroll-up span {
        background-image: url('../img/chosen-sprite@2x.png') !important;
    }
}

.chosen-container-active.chosen-with-drop .chosen-single div b{
    background-position: -18px 10px;
}

.chosen-container-multi .chosen-choices {
    border-radius: 4px;
}

.chosen-container-multi .chosen-choices li.search-field input[type=text] {
    height: 34px;
}

.chosen-container-multi .chosen-choices li.search-choice {
    margin: 8px 5px 3px 0;
}

.chosen-container-single .chosen-single {
    height: 35px;
    border-radius: 1px;
    padding: 5px 0 0 8px;
    font-size: 13px;
}

ul.collapsibleList{
    margin:0 0 0 -1.5em;
    padding:0 0 0 1.5em;
}
ul.collapsibleList ul{
    /*background:url('../img/list-item-contents.png') repeat-y left;*/
}
ul.collapsibleList li.lastChild > ul{
    background-image: none;
}
ul.collapsibleList li{
  	line-height: 1.5em;
    margin:0;
    padding:0;
    background:url('../img/list-item-root.png') no-repeat top left;
    list-style-position:inside;
    list-style-type: none;
    list-style-image:url('../img/button.png');
    cursor: auto;
}
ul.collapsibleList li.collapsibleListOpen{
    list-style-image:url('../img/button-open.png');
    cursor:pointer;
}
ul.collapsibleList li.collapsibleListClosed{
    list-style-image:url('../img/button-closed.png');
    cursor:pointer;
}
ul.collapsibleList li.collapsibleListOpen input[type="checkbox"],
ul.collapsibleList li.collapsibleListClosed input[type="checkbox"] {
    top: 2px;
    left: 0px;
    position: relative;
    margin-right: 2px;
}
ul.collapsibleList li.collapsibleListOpen ul li input[type="checkbox"],
ul.collapsibleList li.collapsibleListClosed ul li input[type="checkbox"] {
    left: -6px;
    margin-right: -4px;
    margin-left: 4px;
}
ul.collapsibleList li li{
    background-image: url('../img/list-item.png');
    padding-left: 1.5em;
}
ul.collapsibleList li.lastChild{
    background-image: url('../img/list-item-last.png');
}
ul.collapsibleList li.collapsibleListOpen{
    /*background-image:url('../img/list-item-open.png');*/
}
ul.collapsibleList li.collapsibleListOpen.lastChild{
    background-image:url('../img/list-item-last-open.png');
}
ul.collapsibleList li input[type="checkbox"] {
	margin-left: -2px;
    position: relative;
    top: 2px;
    cursor: pointer;
    margin-right: 5px;
}
